/* ------------------------ Estilos Globales ------------------------ */
body {
  background-color: #ffffff;
  font-family: "Arial", sans-serif;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}

/* ------------------------ Estilos para la Navbar ------------------------ */
.navbar {
  background-color: #ecf0f1;
  padding: 10px 20px;
  color: #2c3e50;
  border-bottom: 2px solid #ecf0f1;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
}

.navbar-brand:hover {
  color: #3498db;
}

.navbar .form-check-label,
.navbar .form-check-input {
  color: #2c3e50;
}

/* ------------------------ Estilos para Botones ------------------------ */
button {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e74c3c;
}

/* ------------------------ Estilos para Filtros ------------------------ */
.filters-container {
  background-color: #ecf0f1;
  border: 1px solid #2c3e50;
  border-radius: 8px;
  padding: 15px;
  color: #2c3e50;
  margin-bottom: 20px;
}

.filters-title,
.filter-subtitle {
  color: #2c3e50;
}

/* ------------------------ Estilos para Tarjetas de Productos ------------------------ */
#product-item {
  background-color: #ffffff;
  border: 1px solid #ecf0f1;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  margin-bottom: 20px;
}

#product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

#product-item .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2c3e50;
}

#product-item .card-text,
#product-item .product-price {
  font-size: 0.9rem;
  color: #2c3e50;
}

#product-item .product-price {
  color: #e74c3c;
}

/* ------------------------ Estilos para el Rating (Estrellas) ------------------------ */
#product-item .product-rating .star {
  color: #ecf0f1; /* Color gris claro para estrellas vacías */
  margin-right: 2px;
  font-size: 1rem; /* Tamaño de las estrellas */
}

#product-item .product-rating .star.filled {
  color: #3498db; /* Color azul brillante para estrellas llenas */
}

/* ------------------------ Estilos para la Paginación ------------------------ */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-link {
  color: #3498db;
  border: 1px solid #ecf0f1;
  border-radius: 4px;
  padding: 5px 10px;
  transition: background-color 0.3s, border-color 0.3s;
}

.pagination .page-link:hover {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #ffffff;
}
