body {
  background: linear-gradient(to bottom, #ede7f6, #ffffff);

  font-family: "Body", serif;
  background-attachment: fixed;
  background-size: auto;
  padding-bottom: 10%;
}

.btn-main {
  background-color: #a5d6a7; /* Verde Pastel */
  color: #000000; /* Blanco */
  border: none;
  padding: 15px 51px;
  margin-top: 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-main:hover {
  background-color: #81c784; /* Verde más oscuro */
}

.btn-main:active {
  background-color: #66bb6a; /* Verde aún más oscuro */
}

.btn-main:disabled {
  background-color: #e8f5e9; /* Verde Muy Claro */
  color: #b0b0b0; /* Gris Claro */
  cursor: not-allowed;
}
/* ----------------------FILTERS STYLES------------------------ */
.filters-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.filters-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-subtitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-check-label {
  font-size: 0.875rem;
}

.form-check-input {
  margin-top: 0.3rem;
  margin-right: 10px;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
/* ----------------------STARS------------------------ */
.star {
  font-size: 20px;
  color: #ccc; /* Color para estrellas no rellenas */
  margin-right: 2px;
  position: relative;
  display: inline-block;
  width: 20px;
}

.star.filled {
  color: #ffcc00; /* Color para estrellas rellenas */
}

.star.half-filled::before {
  content: "★";
  color: #ffcc00; /* Color para la mitad de la estrella */
  position: absolute;
  width: 50%;
  overflow: hidden;
  display: inline-block;
}
