@font-face {
  font-family: "Titles";
  src: url("/fonts/Bubble\ Love\ Demo.otf") format("truetype");
}

body {
  background-image: url("/src/styles/Designer.jpeg");
  background-size: contain;
  /* background-repeat: no-repeat; */
  font-family: "Quicksand", serif;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 10%;
}

/*--------------NAVBAR---------------*/
nav {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.bg-light {
  background-color: #975824 !important;
}

a.navbar-brand {
  font-weight: bold;
}

/*-------------------------------------*/

/*---------------BOTONES---------------*/

.btn-main {
  background-color: #a5d6a7; /* Verde Pastel */
  color: #000000; /* Blanco */
  border: none;
  padding: 15px 51px;
  margin-top: 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-main:hover {
  background-color: #81c784; /* Verde más oscuro */
}

.btn-main:active {
  background-color: #66bb6a; /* Verde aún más oscuro */
}

.btn-main:disabled {
  background-color: #e8f5e9; /* Verde Muy Claro */
  color: #b0b0b0; /* Gris Claro */
  cursor: not-allowed;
}

.btn-primary {
  background-color: #226925dc;
  border-color: #226925dc;
  box-shadow: 2px 2px 3px #000;
  font-weight: 400;
}

.btn-primary:hover {
  background-color: #54a158dc;
  border-color: #54a158dc;
  color: #202020;
  box-shadow: 1px 1px 2px #313131;
}

.btn-secondary {
  background-color: #292929dc;
  border-color: #292929dc;
  box-shadow: 2px 2px 3px #000;
  font-weight: 400;
}

.btn-secondary:hover {
  background-color: #939793dc;
  border-color: #939793dc;
  color: #202020;
  box-shadow: 1px 1px 2px #313131;
}

/* ----------------------FILTERS STYLES------------------------ */
/* .filters-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
} */

.filters-title {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #97582452;
  padding: 5px;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 2px 0px #614731;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-subtitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #97582452;
  padding: 5px;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 2px 0px #614731;
}

.form-check-label {
  font-size: 0.875rem;
  font-weight: bold;
}

.form-check-input {
  margin-top: 0.3rem;
  margin-right: 10px;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label.form-label {
  font-weight: bold;
  background-color: #97582400;
  backdrop-filter: blur(1px);
  padding: 2px;
  border-radius: 0.25rem;
}

option:hover {
  background-color: #9758246c;
}
/*---------------------FORMS--------------------*/

div.form-group {
  justify-self: start;
}

.form-select:focus {
  border-color: rgba(192, 138, 68, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(192, 138, 68, 0.5);
}

.form-check-input:checked {
  background-color: #69bb6dde;
  border-color: #69bb6dde;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem #69bb6d67;
  border-color: #69bb6dde;
}
/* ----------------------STARS------------------------ */
.star {
  font-size: 20px;
  color: #ccc; /* Color para estrellas no rellenas */
  margin-right: 2px;
  position: relative;
  display: inline-block;
  width: 20px;
}

.star.filled {
  color: #ffcc00; /* Color para estrellas rellenas */
}

/*------------------------------------------------------*/

/*--------------PAGINACIÓN-------------------*/

.page-link {
  color: #202020;
}

.active > .page-link {
  background-color: #975824;
  border-color: #975824;
  border-radius: 0.25rem;
}

.page-link:focus {
  border-color: #975824;
  box-shadow: 0px 0px 0 0.25rem #9758246e;
  color: whitesmoke;
}

button.page-link:hover {
  color: #140d0177;
}
/*---------------------------------------------*/

/*-----------------DIVS-------------------*/

div.standard-div {
  background-color: #d3a35a77;
  border-radius: 0.25rem;
  backdrop-filter: blur(20px);
  box-shadow: 2px 3px 10px 2px #000;
  width: 60%;
}

div.lateral-div {
  background-color: #d3a35a77;
  border-radius: 0.25rem;
  backdrop-filter: blur(20px);
  box-shadow: 2px 3px 10px 2px #000;
  width: 80%;
}

.alert-danger {
  box-shadow: 1px 1px 5px 0px #020202;
  font-weight: bold;
}

/*-------------------TITLES/SUBTITLES---------------*/

h1 {
  font-family: "Titles";
  /* font-weight: bold;*/
  text-shadow: 1px 1px 0px #975824;
}

h3 {
  text-shadow: 1px 1px 2px #000;
  color: #202020;
}

h5 {
  font-weight: bold !important;
}

.product-cards {
  background-color: #d3a35a77;
  backdrop-filter: blur(20px);
  box-shadow: 2px 3px 10px 2px #000;
}

.card-title {
  background-color: #9758247a;
  padding: 5px;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 2px 0px #614731;
}
